<nb-card>
  <nb-card-header>
    Add Project
    <button hero nbButton hero size="small" status="success" class="float-right m-1" (click)="submit()"
            [disabled]="model.invalid">Submit
    </button>
    <button hero nbButton hero size="small" status="danger" class="float-right m-1" (click)="cancel()">Cancel</button>
  </nb-card-header>
  <nb-card-body>
    <form [formGroup]="model">
      <div class="form-group">
        <label for="title">Content</label>
        <input
          nbInput
          fullWidth
          formControlName="title"
          id="title"
          placeholder="Title"
          type="text"
          [status]="title.invalid && title.touched ? 'danger' : ''"
          required>
      </div>
      <div class="form-group">
        <textarea
          nbInput
          fullWidth
          formControlName="description"
          id="description"
          placeholder="Description"
          [status]="description.invalid && description.touched ? 'danger' : ''"
          required>
        </textarea>
      </div>
      <div class="form-group">
        <input
          nbInput
          fullWidth
          formControlName="type"
          id="type"
          placeholder="Type"
          type="text"
          [status]="type.invalid && type.touched ? 'danger' : ''"
          required>
      </div>
      <div class="form-group">
        <select
          #categoriesSelect
          nbInput
          multiple
          formControlName="categories"
          id="categories"
          required>
          <option *ngFor="let category of categoriesList"
                  [value]="category._id">
            {{category.name}}
          </option>
        </select>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label for="startDate">Start Date</label>
            <input
              nbInput
              fullWidth
              formControlName="startDate"
              id="startDate"
              [nbDatepicker]="stDate"
              [status]="startDate.invalid && startDate.touched ? 'danger' : ''"
              required>
            <nb-datepicker #stDate></nb-datepicker>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label for="startDate">End Date</label>
            <input
              nbInput
              fullWidth
              formControlName="endDate"
              id="endDate"
              [nbDatepicker]="enDate"
              [status]="endDate.invalid && endDate.touched ? 'danger' : ''"
              required>
            <nb-datepicker #enDate></nb-datepicker>
          </div>
        </div>
      </div>
      <div class="form-group">
        <input
          nbInput
          fullWidth
          formControlName="githubLink"
          id="githubLink"
          placeholder="Type"
          type="text"
          required>
      </div>
    </form>
    <image-uploader [(images)]="images" [uploading]="submitting"></image-uploader>
  </nb-card-body>
</nb-card>
