extends ../layout

block content
    head
        title= title
        //Meta
        meta(charset='utf-8')
        meta(name='description', content='')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        //Link
        link(href='/stylesheets/admin/dashboard/bootstrap.min.css', rel='stylesheet')
        link(href='/stylesheets/admin/dashboard/starter-template.css', rel='stylesheet')
    body
        nav.navbar.navbar-expand-md.navbar-dark.bg-dark.fixed-top
            a.navbar-brand(href='/admin') Index
            button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarsExampleDefault', aria-controls='navbarsExampleDefault', aria-expanded='false', aria-label='Toggle navigation')
                span.navbar-toggler-icon
            div#navbarsExampleDefault.collapse.navbar-collapse
                ul.navbar-nav.mr-auto.navbar-left
                ul.navbar-nav.navbar-right
                    li.nav-item.active
                        a.nav-link(href='/') Public
                    li.nav-item.active
                        a.nav-link(href='/admin/user') Users
                    li.nav-item.active
                        a.nav-link(href='/admin/project') Projects
                    li.nav-item.active
                        a.nav-link(href='/admin/certificate') Certificates
                    li.nav-item.active
                        a.nav-link(href='/admin/category') Categories
                    li.nav-item
                        a.nav-link(href='/admin/logout') Logout
        main.container(role='main')
            div.starter-template
                block sub-content
        != messages()
        script(src='/javascripts/admin/jquery-3.3.1.min.js')
        script(src='/javascripts/admin/jquery.validate.min.js')
        script(src='/javascripts/admin/script.js')
        script(src='/javascripts/admin/popper.min.js')
        script(src='/javascripts/admin/bootstrap.min.js')
