<nb-card>
  <nb-card-header>
    Add Skill
    <button nbButton ghost size="tiny" status="success" class="float-right m-1"
            (click)="submit()" [disabled]=" model && model.invalid">
      <nb-icon icon="checkmark" pack="eva"></nb-icon>
    </button>
    <button nbButton ghost size="tiny" status="danger" class="float-right m-1"
            (click)="cancel()">
      <nb-icon icon="close" pack="eva"></nb-icon>
    </button>
  </nb-card-header>
  <nb-card-body>
    <form [formGroup]="model">
      <div class="form-group">
        <label for="name">Name</label>
        <input
          nbInput
          fullWidth
          formControlName="name"
          id="name"
          placeholder="name"
          type="text"
          [status]="name.invalid && name.touched ? 'danger' : 'basic'"
          required>
      </div>
      <div class="form-group">
        <label for="value">Value</label>
        <input
          nbInput
          fullWidth
          formControlName="value"
          id="value"
          placeholder="Value"
          type="number"
          min="1"
          max="10"
          [status]="value.invalid && value.touched ? 'danger' : 'basic'"
          required>
      </div>
    </form>
  </nb-card-body>
</nb-card>
