<section class="bg-white t-center" id="contact">
  <div class="contact">
    <div class="content">
      <div class="block-content mb-100">
        <div class="row">
          <div class="col-md-12">
            <div class="main-title">
              <h1 class="mb-20">Contact</h1>
              <h5 class="uppercase">Say Hello</h5>
            </div>
          </div>
        </div>
      </div>
      <div class="block-content mb-100">
        <div class="row">
          <div class="col-md-12">
            <div class="sub-title mb-40">
              <h2 class="uppercase">Personal Info</h2>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="block-info">
            <div class="col-md-4">
              <div class="info">
                <div class="ico mb-20"><i class="icon-location-7"></i></div>
                <h5 class="mb-20">Drop on in</h5>
                <p>Nasreddine Bac Ali<br /> St. Sidi Abdallah, Qt. N°17<br /> Chebba, Mahdia, Tunisia</p>
              </div>
            </div>
            <div class="col-md-3">
              <div class="info">
                <div class="ico mb-20"><i class="icon-mobile-6"></i></div>
                <h5 class="mb-20">Give me a call</h5>
                <p>+216 95 253 834</p><br /><br />
              </div>
            </div>
            <div class="col-md-5">
              <div class="info">
                <div class="ico mb-20"><i class="icon-paper-plane-3"></i></div>
                <h5 class="mb-20">Let's connect</h5>
                <p>Email :<a href="mailto:nasreddine.bacali95@gmail.com">nasreddine.bacali95@gmail.com</a><br /> Facebook :<a href="fb.me/nasreddine.bacali">Naseddine Bac Ali</a><br /> Skype :<a href="#">bac_ali3</a></p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="block-content mb-100">
        <div class="row">
          <div class="col-md-12">
            <div class="sub-title mb-40">
              <h2 class="uppercase">Reach Me here</h2>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="block-reach">
              <form class="contact-form" method="post" action="send.php">
                <div class="input-columns clearfix">
                  <div class="column1">
                    <div class="column-inner">
                      <input id="name" type="text" placeholder="Name" value="" name="name" />
                    </div>
                  </div>
                  <div class="column2">
                    <div class="column-inner">
                      <input id="email" type="text" placeholder="Email" value="" name="email" />
                    </div>
                  </div>
                  <input id="subject" type="text" placeholder="Subject" value="" name="subject" />
                  <textarea id="message" name="message" placeholder="Message" cols="45" rows="7"></textarea>
                  <input class="but opc submit" type="submit" value="Submit Form" />
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
      <div class="block-content">
        <div class="row">
          <div class="col-md-12"><span class="page-number emph-1">- 5/5 -</span></div>
        </div>
      </div>
    </div>
  </div>
</section>
