<section class="bg-white t-center" id="portfolio">
  <div class="portfolio">
    <div class="content">
      <div class="block-content mb-100">
        <div class="row">
          <div class="col-md-12">
            <div class="main-title">
              <h1 class="mb-20">Portfolio</h1>
              <h5 class="uppercase">My Works</h5>
            </div>
          </div>
        </div>
      </div>
      <div class="block-content mb-100">
        <div class="works">
          <div class="row">
            <div class="col-md-12">
              <div class="block-filter uppercase mb-40">
                <ul class="filter" id="category">
                  <li><a class="active" href="#" data-filter="all">all</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="row">
            <p *ngIf="!projects.length" class="mb-200">Comming Soon</p>
            <div class="col-md-12">
              <ul class="work mb-20">
                <li *ngFor="let project of projects" class="col-sm-6">
                  <div class="item {{project.category}}">
                    <a [href]="'project/'+project._id" target="_blank">
                      <div class="desc">
                        <h5 class="proj-desc">
                          {{project.title}}
                          <span>{{project.description}}</span>
                        </h5>
                      </div>
                      <img src="{{project.images[0].secure_url}}" alt=""/>
                    </a>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="block-content">
        <div class="row">
          <div class="col-md-12"><span class="page-number emph-1">- 3/5 -</span></div>
        </div>
      </div>
    </div>
  </div>
</section>
