<nb-card>
  <nb-card-header>
    Add User
    <button nbButton hero size="small" status="success" class="float-right m-1" (click)="submit()"
            [disabled]="model.invalid">Submit
    </button>
    <button nbButton hero size="small" status="danger" class="float-right m-1" (click)="cancel()">Cancel</button>
  </nb-card-header>
  <nb-card-body>
    <form [formGroup]="model">
      <div class="form-group">
        <input
          nbInput
          fullWidth
          formControlName="name"
          id="name"
          placeholder="name"
          type="text"
          required>
        <ng-container *ngIf="name.invalid && name.touched">
          <p class="error-message" *ngIf="name.errors?.required">
            Name is required!
          </p>
        </ng-container>
      </div>
    </form>
  </nb-card-body>
</nb-card>
