<nb-card>
  <nb-card-body>
    <div *ngIf="!showCropper">
      <div class="d-flex justify-content-center">
        <img [src]="user.image ? user.image.secure_url : 'assets/images/noimage.png'" alt="profile image"
             height="200vh">
      </div>
      <div class="d-flex justify-content-center mt-3">
        <label>
          <input type="file" (change)="fileChangeEvent($event)" hidden>
          <span>
            <a nbButton hero shape="round" size="small">Select image</a>
          </span>
        </label>
      </div>
    </div>
    <div [style.display]="showCropper ? null : 'none'">
      <div class="d-flex justify-content-center" [style.maxHeight]="'50vh'">
        <image-cropper
          #imageCropper
          [nbSpinner]="imageUploading"
          nbSpinnerStatus="info"
          [imageChangedEvent]="imageEvent"
          (imageLoaded)="imageLoaded()"
          (imageCroppedFile)="imageCropped($event)"
          resizeToWidth="982">
        </image-cropper>
      </div>
      <div class="d-flex justify-content-center">
        <a nbButton hero shape="round" size="small" class="mr-2" status="warning"
           (click)="imageCropper.rotateLeft()">
          <nb-icon icon="corner-up-left-outline"></nb-icon>
        </a>
        <a nbButton hero shape="round" size="small" class="mr-2" status="warning"
           (click)="imageCropper.rotateRight()">
          <nb-icon icon="corner-up-right-outline"></nb-icon>
        </a>
        <a nbButton hero shape="round" size="small" class="mr-2" status="danger"
           (click)="cancelCropping()">
          <nb-icon icon="close-outline"></nb-icon>
        </a>
        <a nbButton hero shape="round" size="small" status="success"
           (click)="validCropping()">
          <nb-icon icon="crop-outline"></nb-icon>
        </a>
      </div>
    </div>
  </nb-card-body>
</nb-card>
<nb-accordion>
  <nb-accordion-item>
    <nb-accordion-item-header>
      Credentials
    </nb-accordion-item-header>
    <nb-accordion-item-body>
      <login-details [user]="user" (userUpdated)="updateUser($event)"></login-details>
    </nb-accordion-item-body>
  </nb-accordion-item>
  <nb-accordion-item>
    <nb-accordion-item-header>
      General
    </nb-accordion-item-header>
    <nb-accordion-item-body>
      <general-details [user]="user" (userUpdated)="updateUser($event)"></general-details>
    </nb-accordion-item-body>
  </nb-accordion-item>
  <nb-accordion-item>
    <nb-accordion-item-header>
      Education
    </nb-accordion-item-header>
    <nb-accordion-item-body>
      <education-details [user]="user" (userUpdated)="updateUser($event)"></education-details>
    </nb-accordion-item-body>
  </nb-accordion-item>
</nb-accordion>
