<div class="section-title top_30"><span></span><h2>Resume</h2></div>
<div class="row">
  <!-- Education History -->
  <div class="education-history col-md-6 padding_15 padbot_30">
    <ul class="timeline col-md-12 top_30">
      <li><i class="fa fa-graduation-cap" aria-hidden="true"></i><h2 class="timeline-title">Education History</h2></li>
      <!-- a work -->
      <li><h3 class="line-title">National School of Engineers of Sousse</h3>
        <span>2016 - 2019</span>
        <p class="little-text"></p>
      </li>
      <!-- a work -->
      <li><h3 class="line-title">Preparatory Institute for Engineering Studies of El Manar</h3>
        <span>2014 - 2016</span>
        <p class="little-text"></p>
      </li>
      <!-- a work -->
      <li><h3 class="line-title">Ibn Rochd High School</h3>
        <span>2010 - 2014</span>
        <p class="little-text"></p>
      </li>
    </ul>
  </div>
  <!-- Working History -->
  <div class="working-history col-md-6 padding_15 padbot_30">
    <ul class="timeline col-md-12 top_30">
      <li><i class="fa fa-suitcase" aria-hidden="true"></i><h2 class="timeline-title">Working History</h2></li>
      <!-- a work -->
      <li><h3 class="line-title">Internship - SAGEMCOM Tunisie</h3>
        <span>2016</span>
        <p class="little-text"></p>
      </li>
    </ul>
  </div>
</div>
