@import '../../../../@theme/styles/themes';

@include nb-install-component() {

  ::ng-deep ng2-smart-table .ng2-smart-actions {
    width: 15% !important;

    ng2-st-tbody-edit-delete {
      display: flex !important;
      height: 0 !important;
    }

    ng2-st-tbody-custom a.ng2-smart-action.ng2-smart-action-custom-custom {
      display: inline-block;
      width: 25%;
      text-align: center;
      font-size: 1.1em;

      &:hover {
        color: #5dcfe3;
      }
    }
  }

}
