<div class="col-md-12">
  <div class="section-title col-md-6 bottom_45"><span></span>
    <h2>Code Skills</h2>
  </div>
</div>
<div class="col-md-6">
  <ul class="skill-list">
    <li>
      <h3>Java</h3>
      <div class="progress">
        <div class="percentage" style="width:80%;"></div>
      </div>
    </li>
    <li>
      <h3>JEE</h3>
      <div class="progress">
        <div class="percentage" style="width:60%;"></div>
      </div>
    </li>
    <li>
      <h3>C</h3>
      <div class="progress">
        <div class="percentage" style="width:65%;"></div>
      </div>
    </li>
    <li>
      <h3>C++</h3>
      <div class="progress">
        <div class="percentage" style="width:60%;"></div>
      </div>
    </li>
    <li>
      <h3>.Net</h3>
      <div class="progress">
        <div class="percentage" style="width:45%;"></div>
      </div>
    </li>
    <li>
      <h3>C#</h3>
      <div class="progress">
        <div class="percentage" style="width:60%;"></div>
      </div>
    </li>
  </ul>
</div>
<div class="col-md-6">
  <ul class="skill-list">
    <li>
      <h3>Python</h3>
      <div class="progress">
        <div class="percentage" style="width:60%;"></div>
      </div>
    </li>
    <li>
      <h3>Node.JS</h3>
      <div class="progress">
        <div class="percentage" style="width:70%;"></div>
      </div>
    </li>
    <li>
      <h3>HTML</h3>
      <div class="progress">
        <div class="percentage" style="width:80%;"></div>
      </div>
    </li>
    <li>
      <h3>CSS</h3>
      <div class="progress">
        <div class="percentage" style="width:65%;"></div>
      </div>
    </li>
    <li>
      <h3>Photoshop</h3>
      <div class="progress">
        <div class="percentage" style="width:60%;"></div>
      </div>
    </li>
    <li>
      <h3>LaTeX</h3>
      <div class="progress">
        <div class="percentage" style="width:60%;"></div>
      </div>
    </li>
  </ul>
</div>
