<nb-card>
  <nb-card-header>
    Add User
    <button nbButton size="xsmall" status="success" class="float-right m-1" (click)="submit()"
            [disabled]="model.invalid">Submit
    </button>
    <button nbButton size="xsmall" status="danger" class="float-right m-1" (click)="cancel()">Cancel</button>
  </nb-card-header>
  <nb-card-body>
    <form [formGroup]="model">
      <div class="form-group">
        <input
          nbInput
          fullWidth
          formControlName="username"
          id="username"
          placeholder="Username"
          type="text"
          required>
        <ng-container *ngIf="username.invalid && username.touched">
          <p class="error-message" *ngIf="username.errors?.required">
            Username is required!
          </p>
        </ng-container>
      </div>
      <div class="form-group">
        <input
          nbInput
          fullWidth
          formControlName="password"
          id="password"
          placeholder="Password"
          type="password"
          required>
        <ng-container *ngIf="password.invalid && password.touched">
          <p class="error-message" *ngIf="password.errors?.required">
            Password is required!
          </p>
          <p class="error-message" *ngIf="password.errors?.minlength">
            Password should be at least {{password.errors?.minlength.requiredLength}} characters!
          </p>
        </ng-container>
      </div>
      <div class="form-group">
        <input
          nbInput
          fullWidth
          formControlName="confirmPassword"
          id="confirm-password"
          placeholder="Confirm password"
          type="password"
          required>
        <ng-container *ngIf="confirmPassword.invalid && confirmPassword.touched">
          <p class="error-message" *ngIf="confirmPassword.errors?.equal">
            Password does not match!
          </p>
        </ng-container>
      </div>
    </form>
  </nb-card-body>
</nb-card>
