@import '../../styles/themes';
@import '~bootstrap/scss/mixins/breakpoints';
@import '~@nebular/theme/styles/global/breakpoints';

@include nb-install-component() {
  nb-layout-column.small {
    flex: 0.15 !important;
  }

  nb-sidebar.menu-sidebar {
    margin-top: 0;
    //background: transparent;

    ::ng-deep .main-container {
      border: 1px solid nb-theme(divider-color);
      height: calc(#{nb-theme(sidebar-height)} - #{nb-theme(header-height)}) !important;
    }

    ::ng-deep .scrollable {
      padding-top: 0;

      .menu-item:first-child {
        border-top: none;
      }
    }
  }

  @include media-breakpoint-down(xs) {
    .main-content {
      padding: 0.75rem !important;
    }
  }

  @include media-breakpoint-down(sm) {
    nb-sidebar.menu-sidebar {
      margin-top: 0;

      ::ng-deep .main-container {
        height: calc(#{nb-theme(sidebar-height)} - #{nb-theme(header-height)}) !important;
        @include nb-ltr(border-top-right-radius, 0);
        @include nb-rtl(border-top-left-radius, 0);

        .scrollable {
          padding-top: 0;
        }
      }
    }
  }
}
