<form class="row" [formGroup]="model">
  <div class="col-md-4">
    <div class="form-group">
      <label for="username">Username</label>
      <input
        nbInput
        fullWidth
        formControlName="username"
        id="username"
        placeholder="Username"
        type="text"
        autocomplete="username">
    </div>
  </div>
  <div class="col-md-4">
    <div class="form-group">
      <label for="password">Password</label>
      <input
        nbInput
        fullWidth
        formControlName="password"
        id="password"
        placeholder="Password"
        type="password"
        required
        autocomplete="new-password"
        [status]="password.invalid && password.touched ? 'danger' : ''">
    </div>
  </div>
  <div class="col-md-4">
    <div class="form-group">
      <label for="confirmPassword">Confirm Password</label>
      <input
        nbInput
        fullWidth
        formControlName="confirmPassword"
        id="confirmPassword"
        placeholder="Confirm Password"
        type="password"
        required
        autocomplete="new-password"
        [status]="confirmPassword.invalid && confirmPassword.touched ? 'danger' : ''">
    </div>
  </div>
</form>
<div class="mt-3 mr-3">
  <button nbButton outline size="medium" class="float-right" status="success"
          (click)="submit()" [disabled]="!model.valid">Save
  </button>
</div>
