<div class="section-title top_60 bottom_30"><span></span><h2>Testimonials</h2></div>
<div class="owl-carousel row" data-items="3" data-autoplay="3000" data-pagination="true">
  <!-- a item -->
  <div class="col-md-12 item">
    <div class="comment">
      <div class="top-section">
        <figure>
          <img src="assets/images/testimonial-1.jpg" alt="">
        </figure>
        <div class="name-info">
          <span class="name">Jack Garratt</span>
          <span class="job">Freelancer</span>
        </div>
      </div>
      <hr>
      <p>Great designer! he finished our work wonderfully and just in time. thanks for everything.</p>
    </div>
  </div>
  <!-- a item -->
  <div class="col-md-12 item">
    <div class="comment">
      <div class="top-section">
        <figure>
          <img src="assets/images/testimonial-2.jpg" alt="">
        </figure>
        <div class="name-info">
          <span class="name">April M. Griffin</span>
          <span class="job">Founder</span>
        </div>
      </div>
      <hr>
      <p>Our logo and business card design look great. Thanks Henry</p>
    </div>
  </div>
  <!-- a item -->
  <div class="col-md-12 item">
    <div class="comment">
      <div class="top-section">
        <figure>
          <img src="assets/images/testimonial-3.jpg" alt="">
        </figure>
        <div class="name-info">
          <span class="name">Larry M. Johnson</span>
          <span class="job">Freelancer</span>
        </div>
      </div>
      <hr>
      <p>Henry is a very creative and talented designer. I do not hesitate to work again.</p>
    </div>
  </div>
  <!-- a item -->
  <div class="col-md-12 item">
    <div class="comment">
      <div class="top-section">
        <figure>
          <img src="assets/images/testimonial-1.jpg" alt="">
        </figure>
        <div class="name-info">
          <span class="name">Jack Garratt</span>
          <span class="job">Freelancer</span>
        </div>
      </div>
      <hr>
      <p>Great designer! he finished our work wonderfully and just in time. thanks for everything.</p>
    </div>
  </div>
  <!-- a item -->
  <div class="col-md-12 item">
    <div class="comment">
      <div class="top-section">
        <figure>
          <img src="assets/images/testimonial-2.jpg" alt="">
        </figure>
        <div class="name-info">
          <span class="name">April M. Griffin</span>
          <span class="job">Founder</span>
        </div>
      </div>
      <hr>
      <p>Our logo and business card design look great. Thanks Henry</p>
    </div>
  </div>
  <!-- a item -->
  <div class="col-md-12 item">
    <div class="comment">
      <div class="top-section">
        <figure>
          <img src="assets/images/testimonial-3.jpg" alt="">
        </figure>
        <div class="name-info">
          <span class="name">Larry M. Johnson</span>
          <span class="job">Freelancer</span>
        </div>
      </div>
      <hr>
      <p>Henry is a very creative and talented designer. I do not hesitate to work again.</p>
    </div>
  </div>
  <!-- a item -->
  <div class="col-md-12 item">
    <div class="comment">
      <div class="top-section">
        <figure>
          <img src="assets/images/testimonial-1.jpg" alt="">
        </figure>
        <div class="name-info">
          <span class="name">Jack Garratt</span>
          <span class="job">Freelancer</span>
        </div>
      </div>
      <hr>
      <p>Great designer! he finished our work wonderfully and just in time. thanks for everything.</p>
    </div>
  </div>
  <!-- a item -->
  <div class="col-md-12 item">
    <div class="comment">
      <div class="top-section">
        <figure>
          <img src="assets/images/testimonial-2.jpg" alt="">
        </figure>
        <div class="name-info">
          <span class="name">April M. Griffin</span>
          <span class="job">Founder</span>
        </div>
      </div>
      <hr>
      <p>Our logo and business card design look great. Thanks Henry</p>
    </div>
  </div>
  <!-- a item -->
  <div class="col-md-12 item">
    <div class="comment">
      <div class="top-section">
        <figure>
          <img src="assets/images/testimonial-3.jpg" alt="">
        </figure>
        <div class="name-info">
          <span class="name">Larry M. Johnson</span>
          <span class="job">Freelancer</span>
        </div>
      </div>
      <hr>
      <p>Henry is a very creative and talented designer. I do not hesitate to work again.</p>
    </div>
  </div>
</div>
