doctype html
html
    head
        title= title
        // Metas
        meta(charset='utf-8')
        meta(name='description', content='')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        meta(content='telephone=no', name='format-detection')
        // Css
        link(href='stylesheets/public/bootstrap.css', rel='stylesheet', type='text/css', media='all')
        link(href='stylesheets/public/base.css', rel='stylesheet', type='text/css', media='all')
        link(href='stylesheets/public/main.css', rel='stylesheet', type='text/css', media='all')
        link(href='stylesheets/public/owl-carousel/owl.carousel.css', rel='stylesheet', media='all')
        link(href='stylesheets/public/owl-carousel/owl.theme.css', rel='stylesheet', media='all')
        link(href='stylesheets/public/magnific-popup.css', type='text/css', rel='stylesheet', media='all')
        link(href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,400italic,300,600%7CRoboto+Slab:400,300,700', rel='stylesheet', type='text/css')
        link(href='stylesheets/public/fontello.css', rel='stylesheet', type='text/css', media='all')
        link(href='stylesheets/public/leaflet.css', rel='stylesheet', type='text/css', media='all')
        // End google analytics
    body
        .loader
            .loader-inner
                .spinner
                    .dot1
                    .dot2
        #wrapper.mb-150.mt-70
            .container
                .row
                    .col-md-2.left-content.pd-r0
                        header#header
                            .main-header
                                .img-profile
                                    img(src='images/public/profile.jpg', alt='', width='982px')
                                    .name-profile.t-center
                                        h5.uppercase Nasreddine Bac Ali
                                nav#main-nav.main-nav.clearfix.t-center.uppercase.tabbed
                                    ul.clearfix
                                        li
                                            a(href='#about')
                                                i.icon-user
                                                | À propos de moi
                                                span Qui suis je
                                        li
                                            a(href='#resume')
                                                i.icon-briefcase
                                                | Résumé
                                                span Curriculum vita
                                        li
                                            a(href='#portfolio')
                                                i.icon-camera
                                                | Portefeuille
                                                span Mes projets
                                        li
                                            a(href='#contact')
                                                i.icon-phone
                                                | Contact
                                                span Dis bonjour
                    .col-md-9.right-content.pd-r0.pd-l0
                        block sections

                    footer.footer
                        .col-md-1.pd-l0
                            ul.social
                                li
                                    a(href='https://fb.me/nasreddine.bacali')
                                        i.icon-facebook
                                li
                                    a(href='mailto:nasreddine.bacali95@gmail.com')
                                        i.icon-mail
                                li
                                    a(href='https://www.linkedin.com/in/bacali')
                                        i.icon-linkedin
                                li
                                    a(href='https://github.com/bacali95')
                                        i.icon-github
                                li
                                    a(href='/en')
                                        img(src='images/public/flags/en.png')
                                li
                                    a(href='/fr')
                                        img(src='images/public/flags/fr.png')
        script(src='javascripts/public/jquery-1.11.3.min.js', type='text/javascript')
        script(src='javascripts/public/owl.carousel.js', type='text/javascript')
        script(src='javascripts/public/jquery.magnific-popup.js', type='text/javascript')
        script(src='javascripts/public/jquery.easytabs.min.js', type='text/javascript')
        script(src='javascripts/public/placeholders.min.js', type='text/javascript')
        script(src='javascripts/public/script.js', type='text/javascript')
        script(src='javascripts/public/leaflet.js', type='text/javascript')
        script.
            (function ($) {
                "use strict";
                // Easytab setup
                $('#wrapper').easytabs({
                    animate: true,
                    updateHash: false,
                    transitionIn: 'fadeIn',
                    transitionOut: 'fadeOut',
                    animationSpeed: 100,
                    tabActiveClass: 'active',
                    tabs: ' #main-nav.tabbed > ul > li ',
                    transitionInEasing: 'linear',
                    transitionOutEasing: 'linear'
                });
                var mypos = [35.82039, 10.5930903];
                var mymap = L.map('map', {
                    center: mypos,
                    zoom: 17,
                    scrollWheelZoom: false,
                    minZoom: 11,
                    maxZoom: 18
                });
                L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token={accessToken}', {
                    attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, <a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
                    maxZoom: 18,
                    id: 'mapbox.streets',
                    accessToken: 'pk.eyJ1IjoiYmFjYWxpOTUiLCJhIjoiY2pvcG9mNGVjMGZpczNwc3VnZmgxY2E3NiJ9.P6TMb1t_SIxdgr_NT3ngeQ'
                }).addTo(mymap);
            })(jQuery);
        // Google analytics
        script(async, src="https://www.googletagmanager.com/gtag/js?id=UA-128575469-1")
        script.
            window.dataLayer = window.dataLayer || [];
            function gtag() {
                dataLayer.push(arguments);
            }
            gtag('js', new Date());

            gtag('config', 'UA-128575469-1');

