extends layout

block sections
    //About
    section#about.bg-white.t-center
        .about
            .content
                .block-content.mb-100
                    .row
                        .col-md-12
                            .main-title.profile
                                h1.mb-20 Nasreddine Bac Ali
                                h3 Engineering Student
                .block-content.mb-100
                    .row
                        .col-md-12
                            .sub-title.mb-40
                                h2.uppercase About Me
                    p.lead-intro
                        | “ Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                        | eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                        | quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                        | Duis aute irure dolor in reprehenderit in voluptate velit esse ! “
                    img.signature.mt-20(src='images/public/signature.png', alt='')
                .block-content.mb-100.pb-30
                    .row
                        .col-md-12
                            .sub-title.mb-40
                                h2.uppercase Personal Info
                    .row
                        .col-md-8.col-md-offset-3.col-sm-8.col-sm-offset-3
                            .listing.mt-40
                                .listing-inner
                                    .listing-event
                                        ul.data.left
                                            li.emph-1 Name
                                            li.emph-1 Birthday
                                            li.emph-1 Place of Birth
                                            li.emph-1 Nationality
                                            li.emph-1 Marital Status
                                            li.emph-1 Freelance
                                            li.emph-1 Vacation
                                        ul.data.right
                                            li Carlos Smith
                                            li
                                                | 1982.04.09
                                                span.emph-1 (year/day/month)
                                            li Rabat
                                            li Moroccan
                                            li Single
                                            li Available
                                            li Till April 25, 2016
                .block-content.mb-100.pb-30
                    .row
                        .col-md-12
                            .sub-title.mb-40
                                h2.uppercase Contact Info
                    .row
                        .col-md-8.col-md-offset-3.col-sm-8.col-sm-offset-3
                            .listing.mt-40
                                a.uppercase.emph-1.btn-1(href='#') Download my cv
                                a.uppercase.emph-1.btn-2(href='#') Print My resume
                                .listing-inner
                                    .listing-event
                                        ul.data.left
                                            li
                                                span.emph-1 Adress
                                                |  :
                                                br
                                                |                                                             Carlose Smith
                                                |                                                             1234 Street Road, Chicago, IN 567 890 United States
                                        ul.data.right
                                            li
                                                span.emph-1 E-Mail
                                                |  : carlossmith@gmail.com
                                            li
                                                span.emph-1 Website
                                                |  : www.carlosesmith.com
                                            li
                                                span.emph-1 Phone
                                                |  : + 123 456 789 456
                                            li
                                                span.emph-1 Skype
                                                |  : Carlose_Smith
                .block-content.mb-100
                    .row
                        .col-md-12
                            .sub-title.mb-40
                                h2.uppercase Instagram
                    .row
                        .col-md-12
                            ul#instafeed.insta-Feed
                .block-content
                    .row
                        .col-md-12
                            span.page-number.emph-1 - 1/5 -
    //Resume
    section#resume.bg-white.t-center
        .resume
            .content
                .block-content.mb-100
                    .row
                        .col-md-12
                            .main-title
                                h1.mb-20 Resume
                                h5.uppercase Curriculum Vita
                .block-content.mb-100.pb-10
                    .row
                        .col-md-12
                            .sub-title.mb-40
                                h2.uppercase Experience
                    .row
                        .col-md-12
                            .timeline
                                .timeline-inner
                                    .name
                                        span.date
                                            | September 2016
                                            em Current
                                        h4 WebDesigner – Mutation Media
                                    .detail
                                        p
                                            | Ut enim ad minim veniam, quis nostrud exerc.
                                            | Irure dolor in reprehend incididunt labore et dolore magna
                                            | aliqua.
                                .timeline-inner
                                    .name.switched
                                        span.date August 2015 - June 2016
                                        h4 Web Developer – Mutation Media
                                    .detail
                                        p
                                            | Ut enim ad minim veniam, quis nostrud exerc.
                                            | Irure dolor in reprehend incididunt labore et dolore magna
                                            | aliqua.
                                .timeline-inner
                                    .name
                                        span.date Jannuary 2015 - March 2016
                                        h4 SDK Developer – Mutation Media
                                    .detail
                                        p
                                            | Ut enim ad minim veniam, quis nostrud exerc.
                                            | Irure dolor in reprehend incididunt labore et dolore magna
                                            | aliqua.
                .block-content.mb-100.pb-10
                    .row
                        .col-md-12
                            .sub-title.mb-40
                                h2.uppercase Education
                    .row
                        .col-md-12
                            .timeline
                                .timeline-inner
                                    .name
                                        span.date August 2015 - June 2016
                                        h4 Bachelor Degree – Mutation Media
                                    .detail
                                        p
                                            | Ut enim ad minim veniam, quis nostrud exerc.
                                            | Irure dolor in reprehend incididunt labore et dolore magna
                                            | aliqua.
                                .timeline-inner
                                    .name.switched
                                        span.date August 2015 - June 2016
                                        h4 Master Degree – Mutation Media
                                    .detail
                                        p
                                            | Ut enim ad minim veniam, quis nostrud exerc.
                                            | Irure dolor in reprehend incididunt labore et dolore magna
                                            | aliqua.
                                .timeline-inner
                                    .name
                                        span.date August 2003 - June 2012
                                        h4 School Of Science – Mutation Media
                                    .detail
                                        p
                                            | Ut enim ad minim veniam, quis nostrud exerc.
                                            | Irure dolor in reprehend incididunt labore et dolore magna
                                            | aliqua.
                .block-content.mb-100.pb-30
                    .row
                        .col-md-12
                            .sub-title.mb-40
                                h2.uppercase skills
                    .row
                        .col-md-12
                            .listing-large.mt-40
                                a.uppercase.emph-1.btn-1(href='#') Download my cv
                                a.uppercase.emph-1.btn-2(href='#') Print My resume
                                .listing-large-inner
                                    .listing-event
                                        ul.data.left.clearfix
                                            li
                                                h5 Html
                                                .rating
                                                    span
                                                    span
                                                    span
                                                    span
                                                    span
                                                    span
                                                    span
                                                    span
                                                    span.transparent
                                                    span.transparent
                                            li
                                                h5 Css
                                                .rating
                                                    span
                                                    span
                                                    span
                                                    span
                                                    span
                                                    span
                                                    span
                                                    span.transparent
                                                    span.transparent
                                                    span.transparent
                                            li
                                                h5 Jquery
                                                .rating
                                                    span
                                                    span
                                                    span
                                                    span
                                                    span
                                                    span
                                                    span.transparent
                                                    span.transparent
                                                    span.transparent
                                                    span.transparent
                                            li
                                                h5 Php
                                                .rating
                                                    span
                                                    span
                                                    span
                                                    span
                                                    span
                                                    span.transparent
                                                    span.transparent
                                                    span.transparent
                                                    span.transparent
                                                    span.transparent
                                            li
                                                h5 Wordpress
                                                .rating
                                                    span
                                                    span
                                                    span
                                                    span
                                                    span.transparent
                                                    span.transparent
                                                    span.transparent
                                                    span.transparent
                                                    span.transparent
                                                    span.transparent
                                            li
                                                h5 Xcode
                                                .rating
                                                    span
                                                    span
                                                    span
                                                    span.transparent
                                                    span.transparent
                                                    span.transparent
                                                    span.transparent
                                                    span.transparent
                                                    span.transparent
                                                    span.transparent
                                            li
                                                h5 Photoshop
                                                .rating
                                                    span
                                                    span
                                                    span
                                                    span
                                                    span
                                                    span
                                                    span
                                                    span
                                                    span
                                                    span.transparent
                                            li
                                                h5 Indesign
                                                .rating
                                                    span
                                                    span
                                                    span
                                                    span.transparent
                                                    span.transparent
                                                    span.transparent
                                                    span.transparent
                                                    span.transparent
                                                    span.transparent
                                                    span.transparent
                                            li
                                                h5 Fireworks
                                                .rating
                                                    span
                                                    span
                                                    span
                                                    span
                                                    span
                                                    span
                                                    span.transparent
                                                    span.transparent
                                                    span.transparent
                                                    span.transparent
                                            li
                                                h5 Illustrator
                                                .rating
                                                    span
                                                    span
                                                    span
                                                    span
                                                    span
                                                    span
                                                    span
                                                    span
                                                    span.transparent
                                                    span.transparent
                                            li
                                                h5 3dmax
                                                .rating
                                                    span
                                                    span
                                                    span
                                                    span
                                                    span
                                                    span.transparent
                                                    span.transparent
                                                    span.transparent
                                                    span.transparent
                                                    span.transparent
                                            li
                                                h5 AfterEffects
                                                .rating
                                                    span
                                                    span
                                                    span
                                                    span
                                                    span
                                                    span
                                                    span
                                                    span.transparent
                                                    span.transparent
                                                    span.transparent
                                        ul.data.right.clearfix
                                            li
                                                h5 Assests
                                                p.emph-3
                                                    | Responsible, Diligence, Labour, Rigor,
                                                    | Creative, Funny, Great Communicator, Flexible
                                            li
                                                h5 Languages
                                                ul
                                                    li.emph-1
                                                        | English
                                                        span.emph-4 (Advanced Speaking)
                                                    li.emph-1
                                                        | Frensh
                                                        span.emph-4 (fluent Speaking)
                                                    li.emph-1
                                                        | German
                                                        span.emph-4 (Basic Knowledge)
                                                    li.emph-1
                                                        | Spanish
                                                        span.emph-4 (Beginner)
                                            li
                                                h5 Hobbies & Interests
                                                ul.hb-list
                                                    li
                                                        span
                                                            i.icon-music-4
                                                        h6 Music
                                                    li
                                                        span
                                                            i.icon-star-7
                                                        h6 Gaming
                                                    li
                                                        span
                                                            i.icon-globe-6
                                                        h6 Travel
                                                    li
                                                        span
                                                            i.icon-food-1
                                                        h6 Cooking
                .block-content.mb-50.pb-30
                    .row
                        .col-md-12
                            .sub-title.mb-40
                                h2.uppercase Services
                    .row
                        .col-md-12
                            img(alt='', src='images/public/service.jpg')
                    .row
                        .col-md-12
                            .services.mt-30
                                .block-service.clearfix
                                    .col-sm-6.text-center
                                        .ico.mb-15
                                            i.icon-thumbs-up-5
                                        .det
                                            h5.mb-10 Great Support
                                            p
                                                | Sed ut perspiciatis unde omnis iste natus error sit
                                                | voluptatem accusantium.
                                    .col-sm-6.text-center
                                        .ico.mb-15
                                            i.icon-pencil-7
                                        .det
                                            h5.mb-10 Print & Branding
                                            p
                                                | Sed ut perspiciatis unde omnis iste natus error sit
                                                | voluptatem accusantium.
                                    .col-sm-6.text-center
                                        .ico.mb-15
                                            i.icon-megaphone-3
                                        .det
                                            h5.mb-10 Marketing
                                            p
                                                | Sed ut perspiciatis unde omnis iste natus error sit
                                                | voluptatem accusantium.
                                    .col-sm-6.text-center
                                        .ico.mb-15
                                            i.icon-desktop-3
                                        .det
                                            h5.mb-10 Web Design
                                            p
                                                | Sed ut perspiciatis unde omnis iste natus error sit
                                                | voluptatem accusantium.
                                    .col-sm-6.text-center
                                        .ico.mb-15
                                            i.icon-params
                                        .det
                                            h5.mb-10 Development
                                            p
                                                | Sed ut perspiciatis unde omnis iste natus error sit
                                                | voluptatem accusantium.
                                    .col-sm-6.text-center
                                        .ico.mb-15
                                            i.icon-lightbulb-3
                                        .det
                                            h5.mb-10 Branding
                                            p
                                                | Sed ut perspiciatis unde omnis iste natus error sit
                                                | voluptatem accusantium.
                .block-content.mb-100
                    .row
                        .col-md-12
                            .sub-title.mb-40
                                h2.uppercase testimonials
                    .row
                        .col-md-12
                            .col-md-10.col-md-offset-1
                                .testi.clearfix
                                    ul#testimonial-carousel
                                        li
                                            .block-quote.t-left
                                                blockquote
                                                    | “Lorem ipsum dolor sit amet, consectetur
                                                    | adipiscing elit, sed do eiusmod
                                                    | tempor incididunt ut labore et dolore magna aliqua. Ut
                                                    | enim ad minim veniam,
                                                    | quis nostrud exercitation ullamco laboris nisi ut
                                                    | aliquip ex ea commodo consequat.
                                                    | Duis aute irure dolor in reprehenderit in voluptate
                                                    | velit esse.”
                                                h6.block-profile.mt-20
                                                    | Carlose Anderson
                                                    span Mutation Media CEO
                                            .block-img
                                                img(alt='', src='images/public/testimonial/1.png')
                                        li
                                            .block-quote.t-left
                                                blockquote
                                                    | “Lorem ipsum dolor sit amet, consectetur
                                                    | adipiscing elit, sed do eiusmod
                                                    | tempor incididunt ut labore et dolore magna aliqua. Ut
                                                    | enim ad minim veniam,
                                                    | quis nostrud exercitation ullamco laboris nisi ut
                                                    | aliquip ex ea commodo consequat.
                                                    | Duis aute irure dolor in reprehenderit in voluptate
                                                    | velit esse.”
                                                h6.block-profile.mt-20
                                                    | Jonathan Anderson
                                                    span  Mutation Media CEO
                                            .block-img
                                                img(alt='', src='images/public/testimonial/2.png')
                .block-content
                    .row
                        .col-md-12
                            span.page-number.emph-1 - 2/5 -
    //Portfolio
    section#portfolio.bg-white.t-center
        .portfolio
            .content
                .block-content.mb-100
                    .row
                        .col-md-12
                            .main-title
                                h1.mb-20 Portfolio
                                h5.uppercase My Works
                .block-content.mb-100
                    .works
                        .row
                            .col-md-12
                                .block-filter.uppercase.mb-40
                                    ul#category.filter
                                        li
                                            a.active(href='#', data-filter='all') all
                                        li
                                            a(href='#', data-filter='web') Web design
                                        li
                                            a(href='#', data-filter='graphic') Graphic design
                                        li
                                            a(href='#', data-filter='motion') Motion Graphic
                        .row
                            .col-md-12
                                ul.work
                                    li.col-sm-6
                                        .item.web
                                            a(href='project_single.html')
                                                .desc
                                                    h5.proj-desc
                                                        | Project Name
                                                        span Web design
                                                img(src='images/public/portfolio/1.jpg', alt='')
                                    li.col-sm-6
                                        .item.web
                                            a.popup(href='images/public/portfolio/2.jpg')
                                                .desc
                                                    h5.proj-desc
                                                        | Project Name
                                                        span Web design
                                                img(src='images/public/portfolio/2.jpg', alt='')
                                    li.col-sm-6
                                        .item.graphic
                                            a.popup(href='images/public/portfolio/3.jpg')
                                                .desc
                                                    h5.proj-desc
                                                        | Project Name
                                                        span Graphic design
                                                img(src='images/public/portfolio/3.jpg', alt='')
                                    li.col-sm-6
                                        .item.web
                                            a.popup(href='images/public/portfolio/4.jpg')
                                                .desc
                                                    h5.proj-desc
                                                        | Project Name
                                                        span Web design
                                                img(src='images/public/portfolio/4.jpg', alt='')
                                    li.col-sm-6
                                        .item.graphic
                                            a.popup(href='images/public/portfolio/5.jpg')
                                                .desc
                                                    h5.proj-desc
                                                        | Project Name
                                                        span Graphic design
                                                img(src='images/public/portfolio/5.jpg', alt='')
                                    li.col-sm-6
                                        .item.web
                                            a.popup(href='images/public/portfolio/6.jpg')
                                                .desc
                                                    h5.proj-desc
                                                        | Project Name
                                                        span Web design
                                                img(src='images/public/portfolio/6.jpg', alt='')
                                    li.col-sm-6
                                        .item.motion
                                            a.popup-vimeo(href='https://vimeo.com/67429593')
                                                .desc
                                                    h5.proj-desc
                                                        | Project Name
                                                        span Motion graphic
                                                img(src='images/public/portfolio/7.jpg', alt='')
                                    li.col-sm-6
                                        .item.web
                                            a(href='project_single.html')
                                                .desc
                                                    h5.proj-desc
                                                        | Project Name
                                                        span Web design
                                                img(src='images/public/portfolio/8.jpg', alt='')
                                    li.col-sm-6
                                        .item.graphic
                                            a.popup(href='images/public/portfolio/9.jpg')
                                                .desc
                                                    h5.proj-desc
                                                        | Project Name
                                                        span Graphic design
                                                img(src='images/public/portfolio/9.jpg', alt='')
                                    li.col-sm-6
                                        .item.graphic
                                            a(target='_blank', href='http://www.mutationmedia.net/')
                                                .desc
                                                    h5.proj-desc
                                                        | Project Name
                                                        span Graphic design
                                                img(src='images/public/portfolio/10.jpg', alt='')
                                    li.col-sm-6
                                        .item.web
                                            a.popup(href='images/public/portfolio/11.jpg')
                                                .desc
                                                    h5.proj-desc
                                                        | Project Name
                                                        span Web design
                                                img(src='images/public/portfolio/11.jpg', alt='')
                                    li.col-sm-6
                                        .item.motion
                                            a.popup-youtube(href='https://www.youtube.com/watch?v=gTFljCRnGN4')
                                                .desc
                                                    h5.proj-desc
                                                        | Project Name
                                                        span Motion graphic
                                                img(src='images/public/portfolio/12.jpg', alt='')
                .block-content
                    .row
                        .col-md-12
                            span.page-number.emph-1 - 3/5 -
    //Blog
    section#blog.bg-white.t-center
        .blog
            .content
                .block-content.mb-100
                    .row
                        .col-md-12
                            .main-title
                                h1.mb-20 The Blog
                                h5.uppercase My Toughts
                .block-content.mb-100
                    .row
                        .col-md-12
                            .col-md-8.col-md-offset-2
                                .search-header
                                    form.search-form(action='#')
                                        input(type='text', title='Search for:', name='s', value='', placeholder='Search…')
                                        input(type='submit', value='')
                                        i.icon-search-7
                .block-content.mb-100
                    .row
                        .col-md-12
                            .block-posts
                                .block-post.mb-100
                                    .post-title.mb-10
                                        a(href='blog_single.html')
                                            h4 Which design layout solution should you use ?
                                    ul.post-meta.mb-30
                                        li
                                            span.entry-date
                                                | April 13, 2015
                                        li
                                            span.entry-cat
                                                a(href='#') Web design
                                    .post-media.mb-30
                                        a(href='blog_single.html')
                                            img(alt='', src='images/public/blog/4.jpg')
                                    .entry-content
                                        p
                                            | Sed ut perspiciatis unde omnis iste natus error sit voluptatem
                                            | accusantium doloremque
                                            | laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore
                                            | veritatis et quasi
                                            | architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam
                                            | voluptatem quia voluptas sit
                                            | aspernatur aut odit aut fugit,
                                            | sed quia consequuntur magni dolores eos.
                                    a.but(href='blog_single.html') Read More
                                .block-post.mb-100
                                    .post-title.mb-10
                                        a(href='blog_single.html')
                                            h4 Standar blog post without image
                                    ul.post-meta.mb-30
                                        li
                                            span.entry-date
                                                | April 13, 2015
                                        li
                                            span.entry-cat
                                                a(href='#') Blogging
                                    .entry-content
                                        p
                                            | Sed ut perspiciatis unde omnis iste natus error sit voluptatem
                                            | accusantium doloremque
                                            | laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore
                                            | veritatis et quasi
                                            | architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam
                                            | voluptatem quia voluptas sit
                                            | aspernatur aut odit aut fugit,
                                            | sed quia consequuntur magni dolores eos.
                                    a.but(href='blog_single.html') Read More
                                .block-post.mb-100
                                    .post-title.mb-10
                                        a(href='blog_single.html')
                                            h4 A blockquote blog post style
                                    ul.post-meta.mb-30
                                        li
                                            span.entry-date
                                                | April 13, 2015
                                        li
                                            span.entry-cat
                                                a(href='#') Various
                                    .entry-content
                                        .block-quote.blog.t-left
                                            blockquote
                                                | “Lorem ipsum dolor sit amet, consectetur adipiscing
                                                | elit, sed do eiusmod
                                                | tempor incididunt ut labore et dolore magna aliqua. Ut enim
                                                | ad minim veniam,
                                                | quis nostrud exercitation ullamco laboris nisi ut aliquip ex
                                                | ea commodo consequat.
                                                | Duis aute irure dolor in reprehenderit in voluptate velit
                                                | esse.”
                                            h3.block-profile.mt-20
                                                | Carlose Anderson
                                                span  Mutation Media CEO
                                a.but(href='blog.html')
                                    | View All Blog Posts
                                    span.right-arr →
                .block-content
                    .row
                        .col-md-12
                            span.page-number.emph-1 - 4/5 -
    //Contact
    section#contact.bg-white.t-center
        .contact
            .content
                .block-content.mb-100
                    .row
                        .col-md-12
                            .main-title
                                h1.mb-20 Contact
                                h5.uppercase Say Hello
                .block-content.mb-100
                    .row
                        .col-md-12
                            .sub-title.mb-40
                                h2.uppercase map location
                    .row
                        .col-md-12
                            .block-map
                                #map
                .block-content.mb-100
                    .row
                        .col-md-12
                            .sub-title.mb-40
                                h2.uppercase Personal Info
                    .row
                        .block-info
                            .col-md-4
                                .info
                                    .ico.mb-20
                                        i.icon-location-7
                                    h5.mb-20 Drop on in
                                    p
                                        | Carlose Smith 1234
                                        br
                                        |  Street Road, Chicago
                                        br
                                        |  IN 567 890 United States
                            .col-md-4
                                .info
                                    .ico.mb-20
                                        i.icon-mobile-6
                                    h5.mb-20 Give me a call
                                    p
                                        | Office : + 123 596 789 908
                                        br
                                        |  Fax : + 123 456 789 456
                                        br
                                        |                                                     Mobile : + 423 346 789 456
                            .col-md-4
                                .info
                                    .ico.mb-20
                                        i.icon-paper-plane-3
                                    h5.mb-20 Let's connect
                                    p
                                        | Email:
                                        a(href='#') carlos@gmail.com
                                        br
                                        |  Twitter :
                                        a(href='#') @carlossmith
                                        br
                                        |  Skype :
                                        a(href='#') carlos_smith
                .block-content.mb-100
                    .row
                        .col-md-12
                            .sub-title.mb-40
                                h2.uppercase Reach Me here
                    .row
                        .col-md-12
                            .block-reach
                                form.contact-form(method='post', action='send.php')
                                    .input-columns.clearfix
                                        .column1
                                            .column-inner
                                                input#name(type='text', placeholder='Name', value='', name='name')
                                        .column2
                                            .column-inner
                                                input#email(type='text', placeholder='Email', value='', name='email')
                                        input#subject(type='text', placeholder='Subject', value='', name='subject')
                                        textarea#message(name='message', placeholder='Message', cols='45', rows='7')
                                        input.but.opc.submit(type='submit', value='Submit Form')
                .block-content
                    .row
                        .col-md-12
                            span.page-number.emph-1 - 5/5 -