@import '../../../../@theme/styles/themes';

@include nb-install-component() {

  ng2-smart-table ::ng-deep {
    a {
      text-decoration: none !important;
    }

    ng2-st-tbody-custom {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
    }

    .ng2-smart-actions {
      width: 15% !important;

      ng2-st-tbody-edit-delete {
        display: -webkit-box !important;
        display: -ms-flexbox !important;
        display: flex !important;
        height: 0 !important;
      }

      ng2-st-tbody-custom a.ng2-smart-action.ng2-smart-action-custom-custom {
        display: relative !important;
        height: 100%;
        width: 25%;
        text-align: center;
        font-size: 0.9rem;

        &:hover {
          color: #5dcfe3;
        }
      }
    }

    .ng2-smart-action-add-add {
      background-color: nb-theme(button-filled-primary-background-color);
      border-color: nb-theme(button-filled-primary-border-color);
      color: nb-theme(button-filled-primary-text-color);

      &:focus {
        border-color: nb-theme(button-filled-primary-focus-border-color);
      }

      &:hover {
        background-color: nb-theme(button-filled-primary-hover-background-color);
        border-color: nb-theme(button-filled-primary-hover-border-color);
      }

      &:active {
        background-color: nb-theme(button-filled-primary-active-background-color);
        border-color: nb-theme(button-filled-primary-active-border-color);
      }
    }

    nav.ng2-smart-pagination-nav .pagination li {
      a, > span {
        background-color: transparent;
        color: nb-theme(button-outline-primary-text-color);

        &:focus {
          border-color: nb-theme(button-outline-primary-focus-border-color);
          color: nb-theme(button-outline-primary-focus-text-color);
        }

        &:hover {
          border-color: nb-theme(button-outline-primary-hover-border-color);
          color: nb-theme(button-outline-primary-hover-text-color);
        }
      }
    }

    .ng2-smart-pagination .page-item.disabled {
      .page-link,
      .page-link:focus,
      .page-link:hover {
        background-color: transparent;
        color: nb-theme(button-outline-primary-disabled-text-color);
      }
    }
  }
}
