extends ../dashboardLayout

block sub-content
    h1.pb-md-4 Show Certificate
    div.pt-sm-2
        div.row
            div.col-md-6
                div.col-md-12
                    div.row
                        div.col-md-4
                            p.float-left Title :
                        div.col-md-auto
                            p=certificate.title
                    div.row
                        div.col-md-4
                            p.float-left Categories :
                        div.col-md-8
                            p.float-left=certificate.category
                    div.row
                        div.col-md-4
                            p.float-left Obtained at :
                        div.col-md-8
                            p.float-left=certificate.date

                    div.row
                        div.col-md-12
                            a.text-white.btn.btn-info.mr-2.mt-2(href='/admin/certificate/edit/' + certificate._id) Edit
                            a.text-white.btn.btn-danger.mt-2(href='/admin/certificate/delete/' + certificate._id) Remove
            div.col-md-6.mt-3
                each image in certificate.images
                    div.form-group
                        img(src=image.secure_url, width='100%')
