<section class="bg-white t-center" id="resume">
  <div class="resume">
    <div class="content">
      <div class="block-content mb-100">
        <div class="row">
          <div class="col-md-12">
            <div class="main-title">
              <h1 class="mb-20">Resume</h1>
              <h5 class="uppercase">Curriculum Vita</h5>
            </div>
          </div>
        </div>
      </div>
      <!--.block-content.mb-100.pb-10-->
      <!--    .row-->
      <!--        .col-md-12-->
      <!--            .sub-title.mb-40-->
      <!--                h2.uppercase Experience-->
      <!--    .row-->
      <!--        .col-md-12-->
      <!--            .timeline-->
      <!--                .timeline-inner-->
      <!--                    .name-->
      <!--                        span.date-->
      <!--                            | September 2016-->
      <!--                            em Current-->
      <!--                        h4 WebDesigner – Mutation Media-->
      <!--                    .detail-->
      <!--                        p-->
      <!--                            | Ut enim ad minim veniam, quis nostrud exerc.-->
      <!--                            | Irure dolor in reprehend incididunt labore et dolore magna-->
      <!--                            | aliqua.-->
      <!--                .timeline-inner-->
      <!--                    .name.switched-->
      <!--                        span.date August 2015 - June 2016-->
      <!--                        h4 Web Developer – Mutation Media-->
      <!--                    .detail-->
      <!--                        p-->
      <!--                            | Ut enim ad minim veniam, quis nostrud exerc.-->
      <!--                            | Irure dolor in reprehend incididunt labore et dolore magna-->
      <!--                            | aliqua.-->
      <!--                .timeline-inner-->
      <!--                    .name-->
      <!--                        span.date Jannuary 2015 - March 2016-->
      <!--                        h4 SDK Developer – Mutation Media-->
      <!--                    .detail-->
      <!--                        p-->
      <!--                            | Ut enim ad minim veniam, quis nostrud exerc.-->
      <!--                            | Irure dolor in reprehend incididunt labore et dolore magna-->
      <!--                            | aliqua.-->
      <div class="block-content mb-100 pb-10">
        <div class="row">
          <div class="col-md-12">
            <div class="sub-title mb-40">
              <h2 class="uppercase">Education</h2>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="timeline">
              <div class="timeline-inner">
                <div class="name"><span class="date">September 2016 - June 2019</span>
                  <h4>National School of Engineers of Sousse</h4>
                </div>
                <div class="detail">
                  <p>Computer Engineering</p><br/><br/>
                </div>
              </div>
              <div class="timeline-inner">
                <div class="name switched"><span class="date">September 2014 - June 2016</span>
                  <h4>Preparatory Institute for Engineering Studies of El Manar</h4>
                </div>
                <div class="detail">
                  <p>Mathematical and Physical Major 2016</p><br/><br/>
                </div>
              </div>
              <div class="timeline-inner">
                <div class="name"><span class="date">September 2010 - June 2014</span>
                  <h4>Ibn Rochd High School</h4>
                </div>
                <div class="detail">
                  <p>Baccalaureate Mathematics 2014</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="block-content mb-100 pb-30">
        <div class="row">
          <div class="col-md-12">
            <div class="sub-title mb-40">
              <h2 class="uppercase">skills</h2>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="listing-large mt-40"><a class="uppercase emph-1 btn-1"
                                                href="assets/CV/NasreddineBacAli-CV-EN.pdf" target="_blank">Download My
              CV</a><a class="uppercase emph-1 btn-2"
                       href="javascript:window.open(&quot;https://nasreddinebacali.info/assets/CV/NasreddineBacAli-CV-EN.pdf&quot;);">Print
              My CV</a>
              <div class="listing-large-inner">
                <div class="listing-event">
                  <ul class="data left clearfix">
                    <li>
                      <h5>Java</h5>
                      <div class="rating"><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span
                        class="transparent"></span><span class="transparent"></span></div>
                    </li>
                    <li>
                      <h5>JEE</h5>
                      <div class="rating"><span></span><span></span><span></span><span></span><span></span><span></span><span
                        class="transparent"></span><span class="transparent"></span><span
                        class="transparent"></span><span class="transparent"></span></div>
                    </li>
                    <li>
                      <h5>C</h5>
                      <div class="rating"><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span
                        class="transparent"></span><span class="transparent"></span></div>
                    </li>
                    <li>
                      <h5>C++</h5>
                      <div class="rating"><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span
                        class="transparent"></span><span class="transparent"></span><span class="transparent"></span>
                      </div>
                    </li>
                    <li>
                      <h5>.Net</h5>
                      <div class="rating"><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span
                        class="transparent"></span><span class="transparent"></span><span class="transparent"></span>
                      </div>
                    </li>
                    <li>
                      <h5>C#</h5>
                      <div class="rating"><span></span><span></span><span></span><span></span><span></span><span></span><span
                        class="transparent"></span><span class="transparent"></span><span
                        class="transparent"></span><span class="transparent"></span></div>
                    </li>
                    <li>
                      <h5>Python</h5>
                      <div class="rating"><span></span><span></span><span></span><span></span><span></span><span></span><span
                        class="transparent"></span><span class="transparent"></span><span
                        class="transparent"></span><span class="transparent"></span></div>
                    </li>
                    <li>
                      <h5>NodeJS</h5>
                      <div class="rating"><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span
                        class="transparent"></span><span class="transparent"></span><span class="transparent"></span>
                      </div>
                    </li>
                    <li>
                      <h5>HTML</h5>
                      <div class="rating"><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span
                        class="transparent"></span><span class="transparent"></span></div>
                    </li>
                    <li>
                      <h5>CSS</h5>
                      <div class="rating"><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span
                        class="transparent"></span><span class="transparent"></span><span class="transparent"></span>
                      </div>
                    </li>
                    <li>
                      <h5>Photoshop</h5>
                      <div class="rating"><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span
                        class="transparent"></span><span class="transparent"></span><span class="transparent"></span>
                      </div>
                    </li>
                    <li>
                      <h5>LaTeX</h5>
                      <div class="rating"><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span
                        class="transparent"></span><span class="transparent"></span><span class="transparent"></span>
                      </div>
                    </li>
                  </ul>
                  <ul class="data right clearfix">
                    <li>
                      <h5>Assests</h5>
                      <p class="emph-3">Responsible, Diligence, Labour<br/>Rigor, Creative, Funny, Flexible</p>
                    </li>
                    <li>
                      <h5>Languages</h5>
                      <ul>
                        <li class="emph-1">Arabic<span class="emph-4">(Fluent Speaking)</span></li>
                        <li class="emph-1">English<span class="emph-4">(Basic Knowledge)</span></li>
                        <li class="emph-1">French<span class="emph-4">(Basic Knowledge)</span></li>
                      </ul>
                    </li>
                    <li>
                      <h5>Hobbies & Interests</h5>
                      <ul class="hb-list">
                        <li><span><i class="icon-code-1"></i></span>
                          <h6>Coding</h6>
                        </li>
                        <li><span><i class="icon-swimming"></i></span>
                          <h6>Swim</h6>
                        </li>
                        <li><span><i class="icon-food"></i></span>
                          <h6>Pizza</h6>
                        </li>
                        <li><span><i class="icon-globe-6"></i></span>
                          <h6>Travel</h6>
                        </li>
                      </ul>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--.block-content.mb-50.pb-30-->
      <!--    .row-->
      <!--        .col-md-12-->
      <!--            .sub-title.mb-40-->
      <!--                h2.uppercase Services-->
      <!--    .row-->
      <!--        .col-md-12-->
      <!--            .services.mt-30-->
      <!--                .block-service.clearfix-->
      <!--                    .col-sm-6.text-center-->
      <!--                        .ico.mb-15-->
      <!--                            i.icon-thumbs-up-5-->
      <!--                        .det-->
      <!--                            h5.mb-10 Great Support-->
      <!--                    .col-sm-6.text-center-->
      <!--                        .ico.mb-15-->
      <!--                            i.icon-params-->
      <!--                        .det-->
      <!--                            h5.mb-10 Development-->
      <!--.block-content.mb-100-->
      <!--    .row-->
      <!--        .col-md-12-->
      <!--            .sub-title.mb-40-->
      <!--                h2.uppercase testimonials-->
      <!--    .row-->
      <!--        .col-md-12-->
      <!--            .col-md-10.col-md-offset-1-->
      <!--                .testi.clearfix-->
      <!--                    ul#testimonial-carousel-->
      <!--                        li-->
      <!--                            .block-quote.t-left-->
      <!--                                blockquote-->
      <!--                                    | “Lorem ipsum dolor sit amet, consectetur-->
      <!--                                    | adipiscing elit, sed do eiusmod-->
      <!--                                    | tempor incididunt ut labore et dolore magna aliqua. Ut-->
      <!--                                    | enim ad minim veniam,-->
      <!--                                    | quis nostrud exercitation ullamco laboris nisi ut-->
      <!--                                    | aliquip ex ea commodo consequat.-->
      <!--                                    | Duis aute irure dolor in reprehenderit in voluptate-->
      <!--                                    | velit esse.”-->
      <!--                                h6.block-profile.mt-20-->
      <!--                                    | Carlose Anderson-->
      <!--                                    span Mutation Media CEO-->
      <!--                            .block-img-->
      <!--                                img(alt='', src='images/public/testimonial/1.png')-->
      <!--                        li-->
      <!--                            .block-quote.t-left-->
      <!--                                blockquote-->
      <!--                                    | “Lorem ipsum dolor sit amet, consectetur-->
      <!--                                    | adipiscing elit, sed do eiusmod-->
      <!--                                    | tempor incididunt ut labore et dolore magna aliqua. Ut-->
      <!--                                    | enim ad minim veniam,-->
      <!--                                    | quis nostrud exercitation ullamco laboris nisi ut-->
      <!--                                    | aliquip ex ea commodo consequat.-->
      <!--                                    | Duis aute irure dolor in reprehenderit in voluptate-->
      <!--                                    | velit esse.”-->
      <!--                                h6.block-profile.mt-20-->
      <!--                                    | Jonathan Anderson-->
      <!--                                    span  Mutation Media CEO-->
      <!--                            .block-img-->
      <!--                                img(alt='', src='images/public/testimonial/2.png')-->
      <div class="block-content">
        <div class="row">
          <div class="col-md-12"><span class="page-number emph-1">- 2/5 -</span></div>
        </div>
      </div>
    </div>
  </div>
</section>
