<section class="bg-white t-center" id="about">
  <div class="about">
    <div class="content">
      <div class="block-content mb-100">
        <div class="row">
          <div class="col-md-12">
            <div class="main-title profile">
              <h1 class="mb-20">Nasreddine Bac Ali</h1>
              <h3>Engineering Student</h3>
            </div>
          </div>
        </div>
      </div>
      <div class="block-content mb-100">
        <div class="row">
          <div class="col-md-12">
            <div class="sub-title mb-40">
              <h2 class="uppercase">About Me</h2>
            </div>
          </div>
        </div>
        <p class="lead-intro">
          “ Currently an engineering student at the National School of Engineers of Sousse.
          At least one year of experience in backend, web development and embedded systems.
          Super nerd who loves competitive programming, Linux and likes to give a hand to
          anyone who needs help. Interested in developing a better problem-solving method
          for challenging tasks and learning new technologies and tools. “
        </p><img class="signature mt-20" src="assets/img/signature.png" alt="" />
      </div>
      <div class="block-content mb-100 pb-30">
        <div class="row">
          <div class="col-md-12">
            <div class="sub-title mb-40">
              <h2 class="uppercase">Personal Info</h2>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-8 col-md-offset-3 col-sm-8 col-sm-offset-3">
            <div class="listing mt-40">
              <div class="listing-inner">
                <div class="listing-event">
                  <ul class="data left">
                    <li class="emph-1">Name</li>
                    <li class="emph-1">Birthday</li>
                    <li class="emph-1">Place of Birth</li>
                    <li class="emph-1">Nationality</li>
                    <li class="emph-1">Marital Status</li>
                  </ul>
                  <ul class="data right">
                    <li>Nasreddine Bac Ali</li>
                    <li>21.12.1995</li>
                    <li>Mahdia</li>
                    <li>Tunsian</li>
                    <li>Single</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="block-content mb-100 pb-30">
        <div class="row">
          <div class="col-md-12">
            <div class="sub-title mb-40">
              <h2 class="uppercase">Contact Info</h2>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-8 col-md-offset-3 col-sm-8 col-sm-offset-3">
            <div class="listing mt-40"><a class="uppercase emph-1 btn-1"
                                          href="assets/CV/NasreddineBacAli-CV-EN.pdf"
                                          target="_blank">Download My CV</a>
              <a class="uppercase emph-1 btn-2"
                 href="javascript:window.open(&quot;https://www.nasreddinebacali.info/assets/CV/NasreddineBacAli-CV-EN.pdf&quot;);">Print My CV</a>
              <div class="listing-inner">
                <div class="listing-event">
                  <ul class="data left">
                    <li><span class="emph-1">Address</span> :<br /> St. Sidi Abdallah, Qt. °17<br /> 5170 Chebba<br /> Mahdia - Tunisia</li>
                  </ul>
                  <ul class="data right">
                    <li><span class="emph-1">E-Mail</span> : nasreddine.bacali95@gmail.com</li>
                    <li><span class="emph-1">Website</span> : www.nasreddinebacali.info</li>
                    <li><span class="emph-1">Phone</span> : +216 95 253 834</li>
                    <li><span class="emph-1">Skype</span> : bac_ali3</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="block-content">
        <div class="row">
          <div class="col-md-12"><span class="page-number emph-1">- 1/5 -</span></div>
        </div>
      </div>
    </div>
  </div>
</section>
