<nb-card>
  <nb-card-header>
    Add Project
    <button nbButton ghost size="tiny" status="success" class="float-right m-1"
            (click)="submit()" [disabled]="model.invalid">
      <nb-icon icon="checkmark" pack="eva"></nb-icon>
    </button>
    <button nbButton ghost size="tiny" status="danger" class="float-right m-1"
            (click)="cancel()">
      <nb-icon icon="close" pack="eva"></nb-icon>
    </button>
  </nb-card-header>
  <nb-card-body>
    <form #model="ngForm">
      <div class="form-group">
        <label for="title">Title</label>
        <input
          nbInput
          fullWidth
          id="title"
          name="title"
          placeholder="Title"
          type="text"
          required
          #title="ngModel"
          [(ngModel)]="project.title"
          [status]="title.invalid && title.touched ? 'danger' : 'basic'">
      </div>
      <div class="form-group">
        <label for="description">Description</label>
        <textarea
          nbInput
          fullWidth
          id="description"
          name="description"
          placeholder="Description"
          #description="ngModel"
          [(ngModel)]="project.description"
          [status]="description.invalid && description.touched ? 'danger' : 'basic'"
          required>
        </textarea>
      </div>
      <div class="form-group">
        <label for="type">Type</label>
        <input
          nbInput
          fullWidth
          id="type"
          name="type"
          placeholder="Type"
          type="text"
          #type="ngModel"
          [(ngModel)]="project.type"
          [status]="type.invalid && type.touched ? 'danger' : 'basic'"
          required>
      </div>
      <div class="form-group">
        <label for="categories">Categories</label>
        <nb-select
          multiple
          fullWidth
          id="categories"
          name="categories"
          required
          [(ngModel)]="selectedCategories">
          <nb-option *ngFor="let category of categoriesList"
                     [value]="category.id">
            {{category.name}}
          </nb-option>
        </nb-select>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label for="startDate">Start Date</label>
            <input
              nbInput
              fullWidth
              id="startDate"
              name="startDate"
              [nbDatepicker]="stDate"
              #startDate="ngModel"
              [(ngModel)]="project.startDate"
              [status]="startDate.invalid && startDate.touched ? 'danger' : 'basic'"
              required>
            <nb-datepicker #stDate></nb-datepicker>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label for="endDate">End Date</label>
            <input
              nbInput
              fullWidth
              id="endDate"
              name="endDate"
              [nbDatepicker]="enDate"
              #endDate="ngModel"
              [(ngModel)]="project.endDate"
              [status]="endDate.invalid && endDate.touched ? 'danger' : 'basic'"
              required>
            <nb-datepicker #enDate></nb-datepicker>
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="sourceCodeLink">Source Code Link</label>
        <input
          nbInput
          fullWidth
          id="sourceCodeLink"
          name="sourceCodeLink"
          [(ngModel)]="project.sourceCodeLink"
          placeholder="Source Link"
          type="text"
          required>
      </div>
      <div class="form-group">
        <label for="demoLink">Demo Link</label>
        <input
          nbInput
          fullWidth
          id="demoLink"
          name="demoLink"
          [(ngModel)]="project.demoLink"
          type="text"
          required>
      </div>
    </form>
    <image-uploader [(images)]="project.images" [uploading]="submitting"></image-uploader>
  </nb-card-body>
</nb-card>
