<div class="section-title bottom_30"><span></span><h2>Clients</h2></div>
<div class="row">
  <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
    <div class="client">
      <img src="assets/images/client-01.jpg" alt="">
    </div>
  </div>
  <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
    <div class="client">
      <img src="assets/images/client-02.jpg" alt="">
    </div>
  </div>
  <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
    <div class="client">
      <img src="assets/images/client-03.jpg" alt="">
    </div>
  </div>
  <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
    <div class="client">
      <img src="assets/images/client-04.jpg" alt="">
    </div>
  </div>
</div>
